<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Login Disini</h1>
      <form method="post" action="/cekLogin">
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Masukan username"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="text"
            class="form-control"
            name="password"
            placeholder="Masukan password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <% if (message) { %>
      <span style="color: red"><%= message %> </span>
      <% } %>
    </div>
  </div>
</div>
