<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Tambah Data User</h1>
      <% if (message) { %>
      <span style="color: red"><%= message %> </span>
      <% } %>
      <form method="post" action="/tambah">
        <div class="form-group">
          <label>Fullname</label>
          <input
            type="text"
            class="form-control"
            name="fullname"
            placeholder="Masukan fullname"
          />
        </div>
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Masukan username"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="text"
            class="form-control"
            name="password"
            placeholder="Masukan password"
          />
        </div>
        <div class="form-group">
          <label>Level</label>
          <input
            type="text"
            class="form-control"
            name="level"
            placeholder="Masukan level"
          />
        </div>
        <button type="submit" class="btn btn-primary">Simpan</button>
      </form>
    </div>
  </div>
</div>
